<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdg.db.pet.dao.AdoptLittlePetMapper">
  <resultMap id="BaseResultMap" type="com.cdg.db.pet.model.AdoptLittlePet">
    <id column="pet_id" jdbcType="BIGINT" property="petId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="TINYINT" property="sex" />
    <result column="birthday" jdbcType="BIGINT" property="birthday" />
    <result column="breed" jdbcType="VARCHAR" property="breed" />
    <result column="weight" jdbcType="INTEGER" property="weight" />
    <result column="birth_control" jdbcType="TINYINT" property="birthControl" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="vaccine_time" jdbcType="BIGINT" property="vaccineTime" />
    <result column="pet_tell" jdbcType="VARCHAR" property="petTell" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="head_portraits" jdbcType="VARCHAR" property="headPortraits" />
    <result column="browse_count" jdbcType="INTEGER" property="browseCount" />
    <result column="pet_state" jdbcType="TINYINT" property="petState" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    pet_id, name, sex, birthday, breed, weight, birth_control, location, vaccine_time, 
    pet_tell, comment, head_portraits, browse_count, pet_state, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.cdg.db.pet.model.AdoptLittlePetExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from adopt_little_ped
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="page != null">
      limit #{page.begin} , #{page.size}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from adopt_little_ped
    where pet_id = #{petId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from adopt_little_ped
    where pet_id = #{petId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.cdg.db.pet.model.AdoptLittlePetExample">
    delete from adopt_little_ped
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cdg.db.pet.model.AdoptLittlePet">
    <selectKey keyProperty="petId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into adopt_little_ped (name, sex, birthday, 
      breed, weight, birth_control, 
      location, vaccine_time, pet_tell, 
      comment, head_portraits, browse_count, 
      pet_state, create_time, update_time
      )
    values (#{name,jdbcType=VARCHAR}, #{sex,jdbcType=TINYINT}, #{birthday,jdbcType=BIGINT}, 
      #{breed,jdbcType=VARCHAR}, #{weight,jdbcType=INTEGER}, #{birthControl,jdbcType=TINYINT}, 
      #{location,jdbcType=VARCHAR}, #{vaccineTime,jdbcType=BIGINT}, #{petTell,jdbcType=VARCHAR}, 
      #{comment,jdbcType=VARCHAR}, #{headPortraits,jdbcType=VARCHAR}, #{browseCount,jdbcType=INTEGER}, 
      #{petState,jdbcType=TINYINT}, #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cdg.db.pet.model.AdoptLittlePet">
    <selectKey keyProperty="petId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into adopt_little_ped
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="breed != null">
        breed,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="birthControl != null">
        birth_control,
      </if>
      <if test="location != null">
        location,
      </if>
      <if test="vaccineTime != null">
        vaccine_time,
      </if>
      <if test="petTell != null">
        pet_tell,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="headPortraits != null">
        head_portraits,
      </if>
      <if test="browseCount != null">
        browse_count,
      </if>
      <if test="petState != null">
        pet_state,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=TINYINT},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=BIGINT},
      </if>
      <if test="breed != null">
        #{breed,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=INTEGER},
      </if>
      <if test="birthControl != null">
        #{birthControl,jdbcType=TINYINT},
      </if>
      <if test="location != null">
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="vaccineTime != null">
        #{vaccineTime,jdbcType=BIGINT},
      </if>
      <if test="petTell != null">
        #{petTell,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="headPortraits != null">
        #{headPortraits,jdbcType=VARCHAR},
      </if>
      <if test="browseCount != null">
        #{browseCount,jdbcType=INTEGER},
      </if>
      <if test="petState != null">
        #{petState,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cdg.db.pet.model.AdoptLittlePetExample" resultType="java.lang.Long">
    select count(*) from adopt_little_ped
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update adopt_little_ped
    <set>
      <if test="record.petId != null">
        pet_id = #{record.petId,jdbcType=BIGINT},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null">
        sex = #{record.sex,jdbcType=TINYINT},
      </if>
      <if test="record.birthday != null">
        birthday = #{record.birthday,jdbcType=BIGINT},
      </if>
      <if test="record.breed != null">
        breed = #{record.breed,jdbcType=VARCHAR},
      </if>
      <if test="record.weight != null">
        weight = #{record.weight,jdbcType=INTEGER},
      </if>
      <if test="record.birthControl != null">
        birth_control = #{record.birthControl,jdbcType=TINYINT},
      </if>
      <if test="record.location != null">
        location = #{record.location,jdbcType=VARCHAR},
      </if>
      <if test="record.vaccineTime != null">
        vaccine_time = #{record.vaccineTime,jdbcType=BIGINT},
      </if>
      <if test="record.petTell != null">
        pet_tell = #{record.petTell,jdbcType=VARCHAR},
      </if>
      <if test="record.comment != null">
        comment = #{record.comment,jdbcType=VARCHAR},
      </if>
      <if test="record.headPortraits != null">
        head_portraits = #{record.headPortraits,jdbcType=VARCHAR},
      </if>
      <if test="record.browseCount != null">
        browse_count = #{record.browseCount,jdbcType=INTEGER},
      </if>
      <if test="record.petState != null">
        pet_state = #{record.petState,jdbcType=TINYINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update adopt_little_ped
    set pet_id = #{record.petId,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=TINYINT},
      birthday = #{record.birthday,jdbcType=BIGINT},
      breed = #{record.breed,jdbcType=VARCHAR},
      weight = #{record.weight,jdbcType=INTEGER},
      birth_control = #{record.birthControl,jdbcType=TINYINT},
      location = #{record.location,jdbcType=VARCHAR},
      vaccine_time = #{record.vaccineTime,jdbcType=BIGINT},
      pet_tell = #{record.petTell,jdbcType=VARCHAR},
      comment = #{record.comment,jdbcType=VARCHAR},
      head_portraits = #{record.headPortraits,jdbcType=VARCHAR},
      browse_count = #{record.browseCount,jdbcType=INTEGER},
      pet_state = #{record.petState,jdbcType=TINYINT},
      create_time = #{record.createTime,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cdg.db.pet.model.AdoptLittlePet">
    update adopt_little_ped
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=TINYINT},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=BIGINT},
      </if>
      <if test="breed != null">
        breed = #{breed,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=INTEGER},
      </if>
      <if test="birthControl != null">
        birth_control = #{birthControl,jdbcType=TINYINT},
      </if>
      <if test="location != null">
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="vaccineTime != null">
        vaccine_time = #{vaccineTime,jdbcType=BIGINT},
      </if>
      <if test="petTell != null">
        pet_tell = #{petTell,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="headPortraits != null">
        head_portraits = #{headPortraits,jdbcType=VARCHAR},
      </if>
      <if test="browseCount != null">
        browse_count = #{browseCount,jdbcType=INTEGER},
      </if>
      <if test="petState != null">
        pet_state = #{petState,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
    </set>
    where pet_id = #{petId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cdg.db.pet.model.AdoptLittlePet">
    update adopt_little_ped
    set name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=TINYINT},
      birthday = #{birthday,jdbcType=BIGINT},
      breed = #{breed,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=INTEGER},
      birth_control = #{birthControl,jdbcType=TINYINT},
      location = #{location,jdbcType=VARCHAR},
      vaccine_time = #{vaccineTime,jdbcType=BIGINT},
      pet_tell = #{petTell,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      head_portraits = #{headPortraits,jdbcType=VARCHAR},
      browse_count = #{browseCount,jdbcType=INTEGER},
      pet_state = #{petState,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT}
    where pet_id = #{petId,jdbcType=BIGINT}
  </update>
  <update id="updateBatchByPrimaryKeySelective" parameterType="java.util.List">
    <foreach collection="list" index="index" item="item" separator=";">
      update adopt_little_ped
      <set>
        <if test="item.name!=null">
          name=#{item.name,jdbcType=VARCHAR},
        </if>
        <if test="item.sex!=null">
          sex=#{item.sex,jdbcType=TINYINT},
        </if>
        <if test="item.birthday!=null">
          birthday=#{item.birthday,jdbcType=BIGINT},
        </if>
        <if test="item.breed!=null">
          breed=#{item.breed,jdbcType=VARCHAR},
        </if>
        <if test="item.weight!=null">
          weight=#{item.weight,jdbcType=INTEGER},
        </if>
        <if test="item.birthControl!=null">
          birth_control=#{item.birthControl,jdbcType=TINYINT},
        </if>
        <if test="item.location!=null">
          location=#{item.location,jdbcType=VARCHAR},
        </if>
        <if test="item.vaccineTime!=null">
          vaccine_time=#{item.vaccineTime,jdbcType=BIGINT},
        </if>
        <if test="item.petTell!=null">
          pet_tell=#{item.petTell,jdbcType=VARCHAR},
        </if>
        <if test="item.comment!=null">
          comment=#{item.comment,jdbcType=VARCHAR},
        </if>
        <if test="item.headPortraits!=null">
          head_portraits=#{item.headPortraits,jdbcType=VARCHAR},
        </if>
        <if test="item.browseCount!=null">
          browse_count=#{item.browseCount,jdbcType=INTEGER},
        </if>
        <if test="item.petState!=null">
          pet_state=#{item.petState,jdbcType=TINYINT},
        </if>
        <if test="item.createTime!=null">
          create_time=#{item.createTime,jdbcType=BIGINT},
        </if>
        <if test="item.updateTime!=null">
          update_time=#{item.updateTime,jdbcType=BIGINT},
        </if>
      </set>
      where 
      pet_id = #{item.petId,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="insertBatchSelective" parameterType="java.util.List">
    <foreach collection="list" index="index" item="item" separator=";">
      insert into adopt_little_ped
      <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="item.petId!=null">
          pet_id,
        </if>
        <if test="item.name!=null">
          name,
        </if>
        <if test="item.sex!=null">
          sex,
        </if>
        <if test="item.birthday!=null">
          birthday,
        </if>
        <if test="item.breed!=null">
          breed,
        </if>
        <if test="item.weight!=null">
          weight,
        </if>
        <if test="item.birthControl!=null">
          birth_control,
        </if>
        <if test="item.location!=null">
          location,
        </if>
        <if test="item.vaccineTime!=null">
          vaccine_time,
        </if>
        <if test="item.petTell!=null">
          pet_tell,
        </if>
        <if test="item.comment!=null">
          comment,
        </if>
        <if test="item.headPortraits!=null">
          head_portraits,
        </if>
        <if test="item.browseCount!=null">
          browse_count,
        </if>
        <if test="item.petState!=null">
          pet_state,
        </if>
        <if test="item.createTime!=null">
          create_time,
        </if>
        <if test="item.updateTime!=null">
          update_time,
        </if>
      </trim>
       values 
      <trim prefix=" (" suffix=")" suffixOverrides=",">
        <if test="item.petId!=null">
          #{item.petId,jdbcType=BIGINT},
        </if>
        <if test="item.name!=null">
          #{item.name,jdbcType=VARCHAR},
        </if>
        <if test="item.sex!=null">
          #{item.sex,jdbcType=TINYINT},
        </if>
        <if test="item.birthday!=null">
          #{item.birthday,jdbcType=BIGINT},
        </if>
        <if test="item.breed!=null">
          #{item.breed,jdbcType=VARCHAR},
        </if>
        <if test="item.weight!=null">
          #{item.weight,jdbcType=INTEGER},
        </if>
        <if test="item.birthControl!=null">
          #{item.birthControl,jdbcType=TINYINT},
        </if>
        <if test="item.location!=null">
          #{item.location,jdbcType=VARCHAR},
        </if>
        <if test="item.vaccineTime!=null">
          #{item.vaccineTime,jdbcType=BIGINT},
        </if>
        <if test="item.petTell!=null">
          #{item.petTell,jdbcType=VARCHAR},
        </if>
        <if test="item.comment!=null">
          #{item.comment,jdbcType=VARCHAR},
        </if>
        <if test="item.headPortraits!=null">
          #{item.headPortraits,jdbcType=VARCHAR},
        </if>
        <if test="item.browseCount!=null">
          #{item.browseCount,jdbcType=INTEGER},
        </if>
        <if test="item.petState!=null">
          #{item.petState,jdbcType=TINYINT},
        </if>
        <if test="item.createTime!=null">
          #{item.createTime,jdbcType=BIGINT},
        </if>
        <if test="item.updateTime!=null">
          #{item.updateTime,jdbcType=BIGINT},
        </if>
      </trim>
    </foreach>
  </insert>
  <insert id="insertBatch" parameterType="java.util.List">
    insert into adopt_little_ped
    <trim prefix="(" suffix=")" suffixOverrides=",">
      pet_id,name,
      sex,birthday,
      breed,weight,
      birth_control,location,
      vaccine_time,pet_tell,
      comment,head_portraits,
      browse_count,pet_state,
      create_time,update_time,
    </trim>
     values 
    <foreach collection="list" index="index" item="item" separator=",">
      <trim prefix="(" suffix=")" suffixOverrides=",">
        #{item.petId,jdbcType=BIGINT},#{item.name,jdbcType=VARCHAR},
        #{item.sex,jdbcType=TINYINT},#{item.birthday,jdbcType=BIGINT},
        #{item.breed,jdbcType=VARCHAR},#{item.weight,jdbcType=INTEGER},
        #{item.birthControl,jdbcType=TINYINT},#{item.location,jdbcType=VARCHAR},
        #{item.vaccineTime,jdbcType=BIGINT},#{item.petTell,jdbcType=VARCHAR},
        #{item.comment,jdbcType=VARCHAR},#{item.headPortraits,jdbcType=VARCHAR},
        #{item.browseCount,jdbcType=INTEGER},#{item.petState,jdbcType=TINYINT},
        #{item.createTime,jdbcType=BIGINT},#{item.updateTime,jdbcType=BIGINT},
      </trim>
    </foreach>
  </insert>
</mapper>