<!doctype html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!--禁止缩放-->
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <!--全屏显示-->
    <meta content="telephone=no" name="format-detection" />
    <!--告诉设备忽略将页面中的数字识别为电话号码-->
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <!-- 隐藏状态栏-->
    <link href="css/baes.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <title>宠小乖</title>
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/common/common.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/adoptConfirm/adoptConfirm.js"></script>
    <script src="layer/layer.js"></script>
</head>

<body ng-controller="ctrl">
<section>
    <div class="adopt">
        <input type="hidden" id="petId">
        <!--没有地址-->
        <div id="noneAddress" class="adopt_1" onclick="addAddress()">

            <a href="#">
                <div class="ss_1"><img src="images/adopt_img.png"></div>
                <div class="ss_2"><span>您暂时还没有收养地址哦</span><i>点击添加收养地址</i></div>
                <div class="ss_3"><em>+添加<i><img src="images/jt.png"></i></em></div>
            </a>
        </div>
        <!--有地址-->
        <div id="haveAddress" class="adopt_cc" onclick="selectAddress()">
            <a href="#">
                <div class="ss_1"><img src="images/adopt_img_cc.png"></div>
                <div class="ss_2"><span><b>{{myAddress.consigneeName}}</b><em>{{myAddress.consigneePhone}}</em></span><i>地址：{{myAddress.address}}</i></div>
                <div class="ss_3"><em><i><img onclick="" src="images/jt.png"></i></em></div>
            </a>
        </div>
        <div class="adopt_2" >
            <div class="pic"><img src="{{petInfo.photo[0]}}"></div>
            <div class="pac">
                <h3>{{petInfo.name}}</h3>
                <h4><span>品种:{{petInfo.breed}}</span><span>性别:{{petInfo.strSex}}</span><span class="cur">年龄:{{petInfo.age}}</span></h4>
                <p>{{petInfo.petTell}}</p>
            </div>
        </div>
        <div class="adopt_3">
            <h3>备注：</h3>
            <textarea placeholder="您有什么其他需要我们注意的吗？" ng-model="remark"></textarea>
        </div>
        <div class="adopt_4">
            <h3><i><img src="images/ic_6.png"></i><span>体验式领养承诺金</span></h3>
            <p>为了保障小乖的体验领养期间内，获得较好的照顾，需要支付300元的体验领养承诺金，体验周期为30天，30天后若您打算和该爱宠继续生活，承诺金会在2个工作日内返还到您的账户；中途若您觉得该小乖您照顾不了，可以申请让宠小乖工作人员上门领会宠物，承诺金在小乖工作人员领回的第二天自动返还到您的账户。</p>
            <div class="jn_box">
                <div class="jn"><span>需缴纳：</span><b>￥300.00<em>元</em></b></div>
                <div class="xy" style="height:30px" ><i class="check checked"><input type="checkbox"></i><span>我已阅读 <a id="agreeMent" onclick="toAgreeMent()">《宠小乖体验领养协议》</a></span></div>
            </div>
        </div>
    </div>
    <div class="details_btn" style="margin-bottom: 55px;margin-top: 10px;">
        <input type="button" ng-click="nowAdopt()" class="btn" value="立即领养">
    </div>
</section>
<footer id="footer"></footer>

<script>
    footer();
    $(function(){
        $(".check").click(function(){
            $(this).toggleClass("checked");
        })

    })
    var toAgreeMent=function(){
        var petId = localStorage.getItem("petId");
        window.location.href="agreement.html?petId="+petId;
    }
</script>
</body>
</html>
