<!doctype html>
<html ng-app="myApp">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!--禁止缩放-->
<meta content="yes" name="apple-mobile-web-app-capable" />
    <!--全屏显示-->
<meta content="telephone=no" name="format-detection" />
    <!--告诉设备忽略将页面中的数字识别为电话号码-->
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <!-- 隐藏状态栏-->
<link href="css/baes.css" rel="stylesheet" type="text/css">
<link href="css/style.css" rel="stylesheet" type="text/css">
<title>宠小乖</title>
<script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/common/common.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/user/myBrowse.js"></script>
</head>

<body ng-controller="ctrl">
<section>
    <div class="experience">
    	<div class="time"><span></span><i>2017-12-26 12:30:42</i></div>
    	<ul>
        	<li ng-repeat="pet in petList">
            	<div class="pic" ng-click="getPetInfo(pet.petId)">
                	<div class="pic_1"><a href="#"><img src="{{pet.photo[0]}}"></a></div>
                    <div class="pic_2">
                        <h3>{{pet.name}}</h3>
                        <h4><span ng-repeat="cmt in pet.arrayComments"  class="c_{{$index}}">{{cmt}}</span></h4>
                        <p>{{pet.petTell}}</p>
                    </div>
                </div>
                <div class="pac">
                	<div class="pac_1"><i><img src="images/ic_1.png"></i><span>{{pet.location}}</span></div>
                    <div class="pac_2"><a href="#"><i><img src="images/icon_4.png"></i>北京海淀</a></div>
                </div>
            </li>
        </ul>
    </div>    
</section>
<footer id="footer"></footer>
<script>
    $(function () {
        //底部信息
        footer();
    })
</script>
</body>
</html>
