<!--<!doctype html>-->
<html ng-app="myApp">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!--禁止缩放-->
<meta content="yes" name="apple-mobile-web-app-capable" />
    <!--全屏显示-->
<meta content="telephone=no" name="format-detection" />
    <!--告诉设备忽略将页面中的数字识别为电话号码-->
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <!-- 隐藏状态栏-->
<link href="css/baes.css" rel="stylesheet" type="text/css">
<link href="css/style.css" rel="stylesheet" type="text/css">
<title>宠小乖</title>
<script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/address/addressList.js"></script>
    <script src="js/common/common.js"></script>
</head>

<body ng-controller="ctrl">
<section>
<div class="list_xz" >
	<div class="list_top"><a href="javascript:back(0)"><i><img src="images/jt_cc.png"></i>返回</a>我的地址列表</div>
    <ul>
    	<li ng-repeat="address in addressList">
        <div ng-click="setAddress(address.userAddressId)" class="pic">
            <div class="pic_1"><img src="images/adopt_img_cc.png"></div>
            <div class="pic_2">
                <span class="cur"><b>{{address.consigneeName}}</b><em>{{address.consigneePhone}}</em></span>
                <i>{{address.province}} {{address.city}} {{address.areas}}</i>
                <i>{{address.address}}</i>
            </div>
        </div>
           <!-- <div class="pac">
            	<span class="cur"><i class="check checked"><input type="checkbox"></i><em>默认地址</em></span><a href="#"><img  ng-click="editAddress(address.userAddressId)" src="images/icon_7.png"></a>
            </div>-->
        </li>

    </ul>
</div>
<div class="details_btn">
	<input onclick="addAddress()" type="button" class="btn" value="新增领养地址">
</div>
</section>
<footer id="footer"></footer>
<script>
    $(function () {
        //底部信息
        footer();
    })
</script>
</body>
</html>
