<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdg.db.system.dao.AdoptSysAddressMapper">
  <resultMap id="BaseResultMap" type="com.cdg.db.system.model.AdoptSysAddress">
    <id column="address_id" jdbcType="BIGINT" property="addressId" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="alias" jdbcType="VARCHAR" property="alias" />
    <result column="pid" jdbcType="BIGINT" property="pid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    address_id, type, name, alias, pid
  </sql>
  <select id="selectByExample" parameterType="com.cdg.db.system.model.AdoptSysAddressExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from adopt_sys_address
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="page != null">
      limit #{page.begin} , #{page.size}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from adopt_sys_address
    where address_id = #{addressId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from adopt_sys_address
    where address_id = #{addressId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.cdg.db.system.model.AdoptSysAddressExample">
    delete from adopt_sys_address
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cdg.db.system.model.AdoptSysAddress">
    <selectKey keyProperty="addressId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into adopt_sys_address (type, name, alias, 
      pid)
    values (#{type,jdbcType=TINYINT}, #{name,jdbcType=VARCHAR}, #{alias,jdbcType=VARCHAR}, 
      #{pid,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.cdg.db.system.model.AdoptSysAddress">
    <selectKey keyProperty="addressId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into adopt_sys_address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="type != null">
        type,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="alias != null">
        alias,
      </if>
      <if test="pid != null">
        pid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="alias != null">
        #{alias,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cdg.db.system.model.AdoptSysAddressExample" resultType="java.lang.Long">
    select count(*) from adopt_sys_address
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update adopt_sys_address
    <set>
      <if test="record.addressId != null">
        address_id = #{record.addressId,jdbcType=BIGINT},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=TINYINT},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.alias != null">
        alias = #{record.alias,jdbcType=VARCHAR},
      </if>
      <if test="record.pid != null">
        pid = #{record.pid,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update adopt_sys_address
    set address_id = #{record.addressId,jdbcType=BIGINT},
      type = #{record.type,jdbcType=TINYINT},
      name = #{record.name,jdbcType=VARCHAR},
      alias = #{record.alias,jdbcType=VARCHAR},
      pid = #{record.pid,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cdg.db.system.model.AdoptSysAddress">
    update adopt_sys_address
    <set>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="alias != null">
        alias = #{alias,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=BIGINT},
      </if>
    </set>
    where address_id = #{addressId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cdg.db.system.model.AdoptSysAddress">
    update adopt_sys_address
    set type = #{type,jdbcType=TINYINT},
      name = #{name,jdbcType=VARCHAR},
      alias = #{alias,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=BIGINT}
    where address_id = #{addressId,jdbcType=BIGINT}
  </update>
  <update id="updateBatchByPrimaryKeySelective" parameterType="java.util.List">
    <foreach collection="list" index="index" item="item" separator=";">
      update adopt_sys_address
      <set>
        <if test="item.type!=null">
          type=#{item.type,jdbcType=TINYINT},
        </if>
        <if test="item.name!=null">
          name=#{item.name,jdbcType=VARCHAR},
        </if>
        <if test="item.alias!=null">
          alias=#{item.alias,jdbcType=VARCHAR},
        </if>
        <if test="item.pid!=null">
          pid=#{item.pid,jdbcType=BIGINT},
        </if>
      </set>
      where 
      address_id = #{item.addressId,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="insertBatchSelective" parameterType="java.util.List">
    <foreach collection="list" index="index" item="item" separator=";">
      insert into adopt_sys_address
      <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="item.addressId!=null">
          address_id,
        </if>
        <if test="item.type!=null">
          type,
        </if>
        <if test="item.name!=null">
          name,
        </if>
        <if test="item.alias!=null">
          alias,
        </if>
        <if test="item.pid!=null">
          pid,
        </if>
      </trim>
       values 
      <trim prefix=" (" suffix=")" suffixOverrides=",">
        <if test="item.addressId!=null">
          #{item.addressId,jdbcType=BIGINT},
        </if>
        <if test="item.type!=null">
          #{item.type,jdbcType=TINYINT},
        </if>
        <if test="item.name!=null">
          #{item.name,jdbcType=VARCHAR},
        </if>
        <if test="item.alias!=null">
          #{item.alias,jdbcType=VARCHAR},
        </if>
        <if test="item.pid!=null">
          #{item.pid,jdbcType=BIGINT},
        </if>
      </trim>
    </foreach>
  </insert>
  <insert id="insertBatch" parameterType="java.util.List">
    insert into adopt_sys_address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      address_id,type,
      name,alias,
      pid,
    </trim>
     values 
    <foreach collection="list" index="index" item="item" separator=",">
      <trim prefix="(" suffix=")" suffixOverrides=",">
        #{item.addressId,jdbcType=BIGINT},#{item.type,jdbcType=TINYINT},
        #{item.name,jdbcType=VARCHAR},#{item.alias,jdbcType=VARCHAR},
        #{item.pid,jdbcType=BIGINT},
      </trim>
    </foreach>
  </insert>
</mapper>